html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}
.bona-nova-sc-regular {
  font-family: "Bona Nova SC", serif;
  font-weight: 400;
  font-style: normal;
}

.bona-nova-sc-bold {
  font-family: "Bona Nova SC", serif;
  font-weight: 700;
  font-style: normal;
}

.bona-nova-sc-regular-italic {
  font-family: "Bona Nova SC", serif;
  font-weight: 400;
  font-style: italic;
}

body, main {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%vh;
  background-color: #fdfdfd;
  color: rgb(0, 0, 0);
}


body {
  justify-content: flex-start; /* Ajusta como se necesite */
  align-items: stretch; /* Permite que los elementos ocupen el ancho completo */
}

main {
  flex-grow: 1; /* Permite que el main crezca para llenar el espacio disponible */
  width: 100%;
}

.producto-admin {
  background-color: rgb(134, 114, 134);
  display: flex;
  flex-direction: row;
  width: 90%; /* Ajusta el ancho para tener en cuenta el margen */
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 20px;
}

.h1-principal{
  color: rgb(100, 16, 133);
  text-align: center;
  font-size: 50px;
  font-weight: 700;
}

.contenedor {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.agregar-producto {
  align-self: flex-end;
  background-color: rgb(150, 245, 150);
  color: black;
  padding: 2px 30px;
  font-weight: 900;
  text-decoration: none;
  font-size: 25px;
}


.editar-producto {
  background-color: rgb(150, 245, 150);
  color: black;
  padding: 8px 40px;
  font-weight: 900;
  text-decoration: none;
  margin: 9px;
}

.borrar-producto {
  background-color: rgb(250, 144, 137);
  color: black;
  padding: 8px 40px;
  font-weight: 900;
  text-decoration: none;
  margin: 9px;
}

.imagen-icono-producto {
  width: 100px;
  border-radius: 25px;
}

.producto-info {
  font-size: 20px;
}
.agregar-producto, .editar-producto, .borrar-producto{
border-radius: 20px;
}

.agregar-producto:hover, .editar-producto:hover, .borrar-producto:hover {
  -webkit-box-shadow: -1px -2px 20px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -1px -2px 20px 0px rgba(0,0,0,0.75);
box-shadow: -1px -2px 20px 0px rgba(0,0,0,0.75);
transition: all ease-in-out .3s;
background-color: #fdfdfd;
}


label, legend{
  font-weight: 700;
}

.logo{
  width: 80px;
  border-radius: 50%;
}

.color-especial{
  background-color:  rgb(52, 11, 68);
  color: white;
}

.color-especial a{
  color: white;
}

.iconos-especiales{
  font-size: 30px;
}

.iconos-especiales:hover{
  cursor: pointer;
  color: blueviolet;
}

.productos-container {
  display: flex;
  flex-wrap: wrap; /* Permite que las cartas pasen a la siguiente fila si no caben */
  gap: auto; /* Espaciado entre cartas */
  justify-content: space-between; /* Centra las cartas horizontalmente */
  padding: 20px; /* Añade algo de espacio alrededor */
}

.card {
  width: 300px; 
  flex-shrink: 0; 
}

.oferta{
  width: 30%;
  text-align: center;
  border-radius: 5px;
}

.c-t{
  font-weight: 700;
  font-size: 25px;
  text-transform: capitalize;
}

.modo-oscuro{
  transition: all ease-in-out .5s;
  background-color: black;
}

.modo-claro{
  transition: all ease-in-out .5s;
  background-color: rgb(255, 255, 255);
}

section{
  width: 100%;
  margin: 0 auto;
  
}


.d-block{
  display: "flex";
   justify-content:"center";
    align-items:"center";
    border-radius: 20%;
    height: 90%;
}

