

html {
  box-sizing: border-box;
  font-family: sans-serif;
  margin:0px;
  width: 100%;
  height: 100%;
}

*{
    box-sizing: inherit;
}
.bona-nova-sc-regular {
  font-family: "Bona Nova SC", serif;
  font-weight: 400;
  font-style: normal;
}

.bona-nova-sc-bold {
  font-family: "Bona Nova SC", serif;
  font-weight: 700;
  font-style: normal;
}

.bona-nova-sc-regular-italic {
  font-family: "Bona Nova SC", serif;
  font-weight: 400;
  font-style: italic;
}

body, main {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

header{
  width: 100%;
}

 /* .caja-contenido{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
 } */

.logo{
    height: 100%;
  width: 15%;
  border-radius: 50%;
}

.color-especial{
  background-color:  rgb(52, 11, 68) !important;
  color: white;
}

.color-especial a{
  color: white;
}

.iconos-especiales{
  font-size: 30px;
}

.iconos-especiales:hover{
  cursor: pointer;
  color: blueviolet;
}


.button {
  background-color:  rgb(52, 11, 68);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

input{
    margin: 20px;
}

.h1-principal{
  color: rgb(54, 6, 66);
  text-align: center;
  font-size: 30px;
  font-weight: 900;
}


.btn-login{
    width: 100%;

    background-color: rgb(255, 255, 255);
 
        color: rgb(38, 8, 78);
    border: solid 1px  rgb(94, 20, 121);
    outline: 0;
    margin: 0;
    margin-bottom: 50px;
    font-weight: 600;
    
    box-shadow: 0 0 10px rgba(52, 11, 68, 0.5);
}

.btn-especial{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: solid 1px  rgb(52, 11, 68);
    border-radius: 20px;
    text-decoration: none;
    background-color: rgb(133, 123, 132);
    color: rgb(0, 0, 0);
    padding: 10px;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(52, 11, 68, 0.5);
}

.btn-especial:hover{
    transition: all 0.6s ease-in-out;
    width: 100%;
    background-color: rgb(4, 1, 5);
    color: rgb(247, 247, 247);
    border: solid 1px  rgb(52, 11, 68);
    box-shadow: 0 0 10px rgba(52, 11, 68, 0.5);
}

.btn-login:hover{
    transition: all 0.6s ease-in-out;
    width: 100%;
     background-color: rgb(4, 1, 5);
   color: rgb(247, 247, 247);
     border: solid 1px  rgb(52, 11, 68);
    box-shadow: 0 0 10px rgba(52, 11, 68, 0.5);
   
}

 .login{
      min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.a{
    text-decoration: none;
    color: rgb(52, 11, 68);
    margin: 2px;
}

.inputs-especiales{
     width: 100%;
     padding: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(131, 7, 180);
    border: none;
    border-bottom: solid 1px  rgb(52, 11, 68);
    outline: 0;
    margin: 0;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(52, 11, 68, 0.5);
}



.inputs-especiales:focus {
    box-shadow: 0 0 10px 1px rgb(52, 11, 68);
}   


.contenedor-login{
     width: 40%;
      max-width: 500px;
    min-height: 450px;
    padding: 0% 20px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 19px rgba(0, 0, 0, 0.5);

}


form{
    width: 100%;
}

.prueba{
  background-color: rgb(32, 31, 31) !important;
}

.p-principal{
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.producto-admin {
  background-color: rgb(134, 114, 134);
  display: flex;
  flex-direction: row;
  width: 100%; /* Ajusta el ancho para tener en cuenta el margen */
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 20px;
}

.agregar-producto {
  align-self: flex-end;
  background-color: rgb(150, 245, 150);
  color: black;
  padding: 2px 30px;
  font-weight: 900;
  text-decoration: none;
  font-size: 25px;
}


.editar-producto {
  background-color: rgb(150, 245, 150);
  color: black;
  padding: 8px 40px;
  font-weight: 900;
  text-decoration: none;
  margin: 9px;
}

.borrar-producto {
  background-color: rgb(250, 144, 137);
  color: black;
  padding: 8px 40px;
  font-weight: 900;
  text-decoration: none;
  margin: 9px;
}

.imagen-icono-producto {
  width: 100px;
  border-radius: 25px;
}

.producto-info {
  font-size: 20px;
}
.agregar-producto, .editar-producto, .borrar-producto{
border-radius: 20px;
}

.agregar-producto:hover, .editar-producto:hover, .borrar-producto:hover {
  -webkit-box-shadow: -1px -2px 20px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -1px -2px 20px 0px rgba(0,0,0,0.75);
box-shadow: -1px -2px 20px 0px rgba(0,0,0,0.75);
transition: all ease-in-out .3s;
background-color: #fdfdfd;
}

.contenedor-p {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}


@media (max-width: 800px) {
  .contenedor-login {
    padding: 1.5rem 0.5rem;
   width: 100%;
  }
  .h1-principal {
    font-size: 1.5rem;
  }
}